<layout name="layout_blank" />
<script type="text/javascript">  
$(document).ready(function(){

});
</script>

  <div class="container-fluid">
  <div class="row-fluid">
  <form class="form-horizontal" method="get" action="{:U('Canteen/index_deal')}">	  
		<input type="hidden" name="user_id" value="{$user_id}">	
		<input type="hidden" name="q_id" value="{$data.Id}">			
		<div class="col-md-12">			
          <h4>Question:</h4>
		  <p>{$data.question}</p>
		  <div class="col-md-12">
		  <input type="radio" name="answer" value="A" required="required">A.{$data.answer_a}<br><br>
		  <input type="radio" name="answer" value="B" required="required">B.{$data.answer_b}<br><br>
		  </div>  
		</div>
		<br><br>
		<div class="col-md-12">
			<button class="btn btn-primary">Submit</button>
		</div>		
	</form>
	</div>
	</div>


						
						
