<layout name="layout_blank" />
<script type="text/javascript">  
$(document).ready(function(){

});
</script>

  <div class="container-fluid">
  <div class="row-fluid">
  <form class="form-horizontal" method="post" action="{:U('Canteen/question_deal')}">	  
		<input type="hidden" name="user_id" value="{$user_id}">	
		<input type="hidden" name="site" value="{$site}">			
		<div class="col-md-12">			
			<volist name="arr" id="data">
				<h4>Question:{$i}.</h4>
				<p>{$data.question}</p>
				<input type="hidden" name="q_id{$i}" value="{$data.Id}">					
				<div class="col-md-12">
				<if condition="$data.answer_a neq ''">
				  <input type="radio" name="answer{$i}" value="A" required="required">A.{$data.answer_a}<br><br>
				  <input type="radio" name="answer{$i}" value="B" required="required">B.{$data.answer_b}<br><br>
				  <if condition="$data.answer_c neq ''">
				  <input type="radio" name="answer{$i}" value="C" required="required">C.{$data.answer_c}<br><br>
				  </if>
				  <if condition="$data.answer_d neq ''">
				  <input type="radio" name="answer{$i}" value="D" required="required">D.{$data.answer_d}<br><br>
				  </if>
				  <if condition="$data.answer_e neq ''">
				  <input type="radio" name="answer{$i}" value="E" required="required">E.{$data.answer_e}<br><br>
				  </if>
				<else/>
				  <input type="text" name="answer{$i}" required="required"></input>
				</if>
				</div> 
			</volist> 
		</div>
		<br><br>
		<div class="col-md-12">
			<button class="btn btn-primary">Submit</button>
		</div>		
	</form>
	</div>
	</div>


						
						
