<div  class="well sidebar-nav">
<ul class="nav nav-list">
<li><a href="{:U('Admin/admin_introduce')}">Admin Introduction</a></li>
<li><a href="{:U('Admin/modify_club')}">Modify Club</a></li>
<li><a href="{:U('Admin/cl_report')}">CL Report</a></li>
<li><a href="{:U('Admin/modify_template')}">Agenda Template</a></li>
<br>
<li><a href="{:U('Admin/add_meeting')}">Add Meeting</a></li>
<li><a href="{:U('Admin/modify_future_meeting')}">Modify Future Meeting</a></li>
<li><a href="{:U('Admin/modify_history_meeting')}">Modify History Meeting</a></li>
<br>
<li><a href="{:U('Admin/modify_member')}">Modify Member</a></li>
<li><a href="{:U('Admin/delete_member')}">Delete Member</a></li>
<br>
<li><a href="{:U('Admin/show_checkin')}">Checkin Info</a></li>
<li><a href="{:U('Checkin/feature_page',array('club_id'=>$club_id))}">Checkin Port</a></li>
<br>
<li><a href="{:U('Admin/deal_message')}">Deal Message</a></li>
</ul>
</div>