<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>myTMC</title>
<load href="__ROOT__/Public/css/bootstrap.css" />
<load href="__ROOT__/Public/css/bootstrap.min.css" />
<load href="__ROOT__/Public/css/bootstrap-theme.min.css" />
<load href="__ROOT__/Public/js/jquery-2.1.1.min.js" />
<style type="text/css">
    body {
      background-color: #eee;
    }
    #content {
      background-color: #FFF;
      border-radius: 5px;
    }
    #content .main {
      padding: 20px;
    }
    #content .sidebar {
      padding: 10px;
    }
    #content p {
      line-height: 30px;
    }
</style>
</head>
<body>