<div class="container-fluid">
<nav class="navbar navbar-default" role="navigation">		
	<if condition="$_COOKIE['user_authority'] eq 'member'">
		<ul class="nav navbar-nav">
			<li><a href="{:U('Index/index')}">Homepage</a></li>
			<li><a href="{:U('Member/club_info')}">Club</a></li>
			<li><a href="{:U('Member/history')}">History</a></li>
			<li><a href="{:U('Member/booking')}">Booking</a></li>
			<li><a href="{:U('Member/agenda')}">Agenda</a></li>
<!-- 			<li><a href="{:U('Member/myarticle')}">My Article</a></li> -->
			<li><a href="{:U('Member/myspeech')}">My Speech</a></li>
			<li><a href="{:U('Index/timecard')}">Timer Card</a></li>	
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{:U('Login/logout')}">Log out</a></li>
		</ul>
	<elseif condition="$_COOKIE['user_authority'] eq 'admin'"/>
		<ul class="nav navbar-nav">
			<li><a href="{:U('Index/index')}">Homepage</a></li>
			<li><a href="{:U('Member/club_info')}">Club</a></li>
			<li><a href="{:U('Member/history')}">History</a></li>
			<li><a href="{:U('Member/booking')}">Booking</a></li>
			<li><a href="{:U('Member/agenda')}">Agenda</a></li>
<!-- 		<li><a href="{:U('Member/myarticle')}">My Article</a></li> -->
			<li><a href="{:U('Member/myspeech')}">My Speech</a></li>
			<li><a href="{:U('Index/timecard')}">Timer Card</a></li>	
			<li><a href="{:U('Admin/admin_introduce')}">Admin</a></li>	
		</ul>
		<ul class="nav navbar-nav navbar-right">
		<li><a href="{:U('Login/logout')}">Log out</a></li>
		</ul>	
	<elseif condition="$_COOKIE['user_authority'] eq 'superadmin'"/>
		<ul class="nav navbar-nav">
			<li><a href="{:U('Index/index')}">Homepage</a></li>
			<li><a href="{:U('Member/club_info')}">Club</a></li>
			<li><a href="{:U('Member/history')}">History</a></li>
			<li><a href="{:U('Member/booking')}">Booking</a></li>
			<li><a href="{:U('Member/agenda')}">Agenda</a></li>
			<li><a href="{:U('Article/member_all_article')}">My Article</a></li>
			<li><a href="{:U('Member/myspeech')}">My Speech</a></li>
			<li><a href="{:U('Index/timecard')}">Timer Card</a></li>	
			<li><a href="{:U('Admin/admin_introduce')}">Admin</a></li>	
			<li><a href="{:U('Superadmin/Clubs')}">SuperAdmin</a></li>				
		</ul>
		<ul class="nav navbar-nav navbar-right">
		<li><a href="{:U('Login/logout')}">Log out</a></li>
		</ul>			
	<else />
		<ul class="nav navbar-nav">
			<li><a href="{:U('Index/index')}">Homepage</a></li>
			<li><a href="{:U('Index/timecard')}">Timer Card</a></li>	
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{:U('Login/login')}">Log in</a></li>
			<li><a href="{:U('Login/register')}">Register</a></li>	
		</ul>	
	</if>
</nav>
</div>