<layout name="layout_homepage" />
<script language="javascript">
$(document).ready(function(){

var command="";
$("table tr:gt(0)").each(function(i){
    $(this).children("td").each(function(i){
		if($(this).text()==$('#username').val()){
			$(this).attr("style", "BACKGROUND-COLOR: yellow");
		}
    });
});

$('td').click(function(){
if($(this).text()=="" && !($(this).attr("role")=="note")&& !($(this).attr("role")=="type")&&!($(this).attr("role")=="room")){
$(this).attr("style", "BACKGROUND-COLOR: #98FB98");
 $(this).text($('#username').val());
 //alert($(this).parent("tr").attr("num")+$(this).attr("role"));
 command=command+"add"+","+$(this).parent("tr").attr("num")+","+$(this).attr("role")+";";
 //alert(command);
 }
 else if($(this).text()==$('#username').val()){
 $(this).attr("style", "BACKGROUND-COLOR: #eee");
 $(this).text("");
  command=command+"delete"+","+$(this).parent("tr").attr("num")+","+$(this).attr("role")+";";
 //alert(command);
 }
});	




	
});

</script>
<h4><a href="{:U('Member/booking_phone')}">Show Phone Page</a>&nbsp&nbsp<a href="{:U('Wechatbook/club_meeting',array('club_id'=>$club_id))}">Show Wechat Page</a></h4>
<input type="hidden" id="username" value="{$user_name}">
<input type="hidden" id="club_id" value="{$club_id}">
<div id="content">
<div class="col-md-2">  
<h3>Booking</h3>
</div>
<div class="col-md-2"> 
<br>
  <form method="post" id="documentForm" action="{:U('booking_PC_deal')}">
	<input id="change_role" type="hidden" name="change_role" value="">
     <button class="btn btn-primary" id="submit">Submit</button>
  </form>
</div>
<div class="col-md-9"> </div>
<include file="visual_meeting_table" />
</div>

						
						
