<layout name="layout_homepage" />

<script language="javascript">
$(document).ready(function(){
$("table tr:gt(0)").each(function(i){
    //alert("这是第"+i+"行内容");
    $(this).children("td").each(function(i){
		if($(this).text()==$('#username').val()){
			$(this).attr("style", "BACKGROUND-COLOR: yellow");
			//alert("第"+i+"个td的内容："+$(this).text());
		}
    });
});




/*	$("#club_name").change(function() { //jquery 中change()函数 
	var temp = $("#club_name").val()
 //var temp = $("#club_name").find("option:selected").text()
 //alert(temp);
	$.get("__APP__/Home/Luckydraw/get_users",{club_id:temp},function(data){
	var count=data.length
	//alert(count)
	var ss="ee"
	$("#member_name").empty()
	for(var i=0;i<count;i++){
		$("#member_name").append("<option value="+data[i].Id+">"+data[i].dis_name+"</option>");
		//ss=ss+data[i].Id;
	}
	//alert(ss)
   //$("#cClient").append(data);
   })
 //$("#quote").load("ajaxTest.php?name="+$("#bTrade").val()); //jqueryajax中load()函数 
 //$("#quote").load(":U('Luckydraw/get_users',array('name'=>$("#bTrade").val()))); //jqueryajax中load()函数 
});*/
});
</script>
<input type="hidden" id="username" value="{$user_name}">
	<div class="table-responsive">
		<table class="table table-bordered">
		<thead>
			<tr><th>No.</th><th>Date</th><th>Type</th><th>Language</th><th>Note</th><th>Toast Master</th><th>Joke Master</th><th>General Evaluator</th><th>Timer</th>
			<th>Grammarian</th><th>Aha Counter</th><th>Table Master</th><th>Table Evaluator</th>
			<th>Speaker1</th><th>Evaluator1</th><th>Speaker2</th><th>Evaluator2</th><th>Speaker3</th><th>Evaluator3</th><th>Speaker4</th><th>Evaluator4</th>
			<th>Speaker5</th><th>Evaluator5</th><th>Speaker6</th><th>Evaluator6</th><th>Speaker7</th><th>Evaluator7</th><th>Speaker8</th><th>Evaluator8</th>
			<th>Speaker9</th><th>Evaluator9</th></tr>
		</thead>
		<tbody>
			<volist name="data" id="vo">
			<tr><td>{$vo.num}</td><td>{$vo.m_date}</td><td>{$vo.type}</td><td>{$vo.language}</td><td>{$vo.note}</td>
			<td>{$vo.toast_id}</td>
			<td>{$vo.joke_id}</td>
			<td>{$vo.ge_id}</td>
			<td>{$vo.timer_id}</td>
			<td>{$vo.gramm_id}</td>
			<td>{$vo.aha_id}</td>
			<td>{$vo.table1_id}</td>
			<td>{$vo.table1_ev_id}</td>
			<td>{$vo.spk1_id}</td><td>{$vo.ev1_id}</td>
			<td>{$vo.spk2_id}</td><td>{$vo.ev2_id}</td>
			<td>{$vo.spk3_id}</td><td>{$vo.ev3_id}</td>
			<td>{$vo.spk4_id}</td><td>{$vo.ev4_id}</td>
			<td>{$vo.spk5_id}</td><td>{$vo.ev5_id}</td>
			<td>{$vo.spk6_id}</td><td>{$vo.ev6_id}</td>
			<td>{$vo.spk7_id}</td><td>{$vo.ev7_id}</td>
			<td>{$vo.spk8_id}</td><td>{$vo.ev8_id}</td>
			<td>{$vo.spk9_id}</td><td>{$vo.ev9_id}</td>
			</tr>
			</volist>
		</tbody>
		<tfoot>
              <tr>
                <td colspan="6">
                  <div class="pagination">               	  
                  	{$page_method}
                  </div>                 
                  <div class="clear"></div>
                </td>
              </tr>
        </tfoot> 	
		</table>
	</div>
						
						
