<layout name="layout_homepage" />
<script type="text/javascript"> 
$(document).ready(function(){

  });
function add_cc(element)
{
	var oldhtml = element.innerHTML;
	var newobj = document.createElement('input');
	
	var tab = document.getElementById("ava_table");
	var obj= element.parentNode;
	row = obj.rowIndex;

	newobj.type = 'text';
	newobj.onblur = function()
	{
		new_value = this.value ? this.value : oldhtml; 

		element.innerHTML = new_value;	
		var input_add =  document.getElementById("input_cc");
		num = tab.rows[row].cells[0].innerText;	
		input_add.value = input_add.value + num + ':' + new_value + ';';
	}
	element.innerHTML = '';
	element.appendChild(newobj);
	newobj.focus();	
}

function add_title(element)
{
	var oldhtml = element.innerHTML;
	var newobj = document.createElement('input');	
	var tab = document.getElementById("ava_table");

	var obj= element.parentNode;
	row = obj.rowIndex;


	newobj.type = 'text';
	newobj.onblur = function()
	{
		new_value = this.value ? this.value : oldhtml; 
		element.innerHTML = new_value;	
		var input_add =  document.getElementById("input_title");
		num = tab.rows[row].cells[0].innerText;	
		input_add.value =  input_add.value + num + ':' + new_value + ';';
	}
	element.innerHTML = '';
	element.appendChild(newobj);
	newobj.focus();	
}	
	

</script>
<div id="content" class="row-fluid">
<!-- <h2>My role</h2>	
	<div class="table-responsive">
		<table class="table table-striped">	
		<tr><th>Role</th><th>Number</th></tr>
		<volist name="roles" id="vo2">
		<tr><td>{$key}</td><td>{$vo2}</td></tr>
		</volist>
		</table>
	</div>	 -->	
	
<h2>My speech</h2>
	<div class="table-responsive">
		<table class="table table-striped">	
			
			
			<th>Date</th><th>Level</th><th>Title</th><th>Evaluator</th>
			<volist name="data" id="vo">	
			<tr><td><a href="{:U('Member/my_single_speech',array('speech_id'=>$vo['Id']))}">{$vo.m_date}</a></td><td>{$vo.speech_level}</td><td>{$vo.title}</td><td>{$vo.ev_name}</td>				
			</volist>
				

	<!--<input id="input_cc" name="input_cc" type="hidden" value="12"/>
	<input id="input_title" name="input_title" type="hidden" value="13"/>-->
<!-- 	<tr><td>No.<select class="input-xlarge" id="input_number" name="number" type="text" value="">
	<option></option>
	<volist name="speech" id="vo">
	<option>{$vo.num}</option>
	</volist>
	</select></td>
	<td>Level:<select class="input-xlarge" id="input_level" name="level" type="text" value="">
	<option></option>
	<option>CC1</option>
	<option>CC2</option>
	<option>CC3</option>
	<option>CC4</option>
	<option>CC5</option>
	<option>CC6</option>
	<option>CC7</option>
	<option>CC8</option>	
	<option>CC9</option>
	<option>CC10</option>	
	<option>AC1</option>
	<option>AC2</option>
	<option>AC3</option>
	<option>AC4</option>
	<option>AC5</option>
	<option>AC6</option>
	<option>AC7</option>
	<option>AC8</option>	
	<option>AC9</option>
	<option>AC10</option>		
	</select>
	</td>
	<!--<td>Title:<input id="input_title" name="title" type="text" value=""/></td>
	<td>Title:<select class="input-xlarge" id="input_article" name="title" type="text" value="">
	<option></option>
	<volist name="article" id="vo2">
	<option>{$vo2.subject}</option>
	</volist>
	</td></tr> -->
	</table>
	</div>
	
</div>

						
						
