<include file="Public:header" />
<div class="container-fluid">
<div class="row-fluid">
   <h1>MyTMC<small>大马小马，一起过河&nbsp;&nbsp;&nbsp;<a href="{:U('Member/personal_info')}">{$user_name_2}</a>
	<volist name="club_info" id="vo">
		<if condition="$_COOKIE['club_id'] eq $vo[Id]">
		<a href="{:U('Member/club_choose',array('club_id'=>$vo[Id]))}" style="background-color:Yellow;">{$vo.club_name}</a>
		<else/>
		<a href="{:U('Member/club_choose',array('club_id'=>$vo[Id]))}">{$vo.club_name}</a>
		</if>
	</volist></small></h1>
</div>
</div>
<include file="Public:menu" />
<div class="container-fluid">
    <div class="row-fluid">
    {__CONTENT__}
    </div>
   </div>
<include file="Public:footer" />