<layout name="layout_checkin" />
<script type="text/javascript">  
$(document).ready(function(){

});
</script>


      <div id="legend" class="">
        <legend class="">{$activity_name} Check In</legend>
<!--		<p>Activity Limited number: {$limit_number},Checked in number: {$checkin_number}</p>-->
      </div>  
<!--
<form class="form-horizontal" method="get" action="{:U('member_checkin_deal')}">	  
      <div id="legend" class="">
        <legend class="">Club Members</legend>
      </div> 
		<input type="hidden" name="act_id" value="{$activity_id}">	 
		<div class="row-fluid">	
		<div class="col-md-12">		
          <label class="control-label" for="input01">Name</label></br>		
			<select class="input-xlarge" name="member_name">
			<option value=""></option>			
			<volist name="members" id="vo">
			<option value="{$vo.Id}">{$vo.dis_name}</option>
			</volist>
			</select>
		</div>
		</div>
		<div class="row-fluid">
		<div class="col-md-2">
			<button class="btn btn-default">Check in</button>
		</div>
		</div>	  
</form>-->
    <div id="content" class="container-fluid">
  <form class="form-horizontal" method="get" action="{:U('checkin_tmc_deal')}">	  
      <div id="legend" class="">
        <legend class="">Distinguished Guests</legend>
      </div>  
		<input type="hidden" name="club_id" value="{$club_id}">
		<input type="hidden" name="m_date" value="{$m_date}">		
		<div class="row-fluid">
		<div class="col-md-2">
          <label class="control-label" for="input01">Name</label></br>
            <input type="text" placeholder="" class="input-xlarge" name="name" required="required">*
		</div>
		<div class="col-md-2">
          <label class="control-label" for="input01">Telephone</label></br>
            <input type="number" placeholder="" class="input-xlarge" name="telephone" required="required">*
		</div>
		<div class="col-md-2">			
          <label class="control-label" for="input01">Email</label></br>
            <input type="email" placeholder="" class="input-xlarge" name="email" required="required">*
		</div>
		<div class="col-md-2">			
          <label class="control-label" for="input01">QQ</label></br>
            <input type="number" placeholder="" class="input-xlarge" name="qq">
		</div>
		<div class="col-md-4">			
          <label class="control-label" for="input01">Introducer</label></br>
            <input type="text" placeholder="" class="input-xlarge" name="introducer">
		</div>	
		</div>
		<div class="row-fluid">
		<div class="col-md-2">
			<button class="btn btn-default">Check in</button>
		</div>
		</div>
  </form>	
  </div>
      <div id="legend" class="">
        <legend class="">Checked in persons</legend>
      </div>
	  <table class="table table-striped">
	  <tr><th>No.</th><th>Name</th><th>Type</th></tr>
	  <volist name="guests" id="guest">
	  <tr>
	  <td>{$guest.num}</td><td>{$guest.name}</td><td>{$guest.type}</td>
	  </tr>
	  </volist>
	  </table>


						
						
