<layout name="layout_homepage" />
<script language="javascript">


$(document).ready(function(){
	$('.form_date').datetimepicker({
        //language:  'uk',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	
	$("#club").hide();
	$("#type").change(function() {
		var temp = $("#type").val();		
		if(temp=="Union"){	
			$("#club").show();
		}
		else{
			$("#club").hide();
		}
	});
});
</script>
	  
<div class="col-md-2">
<include file="Public:admin_sub_menu" />
</div>
<div class="col-md-10">  
<div id="content">
<h3>Add meeting</h3>
	<table class="table table-striped">	
	<form action="{:U('Admin/add_meeting_deal')}" method="post">
		<tr><th>Meeting Date:</th>
		<td><input type="hidden" id="m_date" name="m_date" value=""/>
                <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="m_date" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" value="" readonly>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
		</td></tr>
		
		<tr><th>Meeting Style:</th><td id="meeting_type">
			<select class="input-xlarge" name="type" id="type">
			<option>Common</option>
			<option>Union</option>
			<option>Holiday</option>
			<option>Contest</option>
			</select>
			<select class="input-xlarge" name="club" id="club">
					<volist name="clubs" id="vo">
						<option value="{$vo.Id}">{$vo.club_name}</option>
					</volist>
			</select>			
		</td></tr>
		<tr><th>Meeting Language:</th><td>
			<select class="input-xlarge" name="language">
			<option>English</option>
			<option>Chinese</option>
			</select>
		</td></tr>		
		<tr><th>Meeting Room:</th><td><input type="text" name="room" id="room"></td></tr>
		<tr><th>Meeting Time:</th><td><input type="text" name="time" id="time"></td></tr>	
		<tr><th>Note</th><td><input type="text" name="note" id="note"></td></tr>
		<tr><td><button class="btn btn-success">Add Meeting</button></form></td><td></td></tr>						
	</table>
<h3>Delete meeting</h3>
	<table class="table table-striped">	
		<form action="delete_meeting_deal">
		<tr><th>Meeting date:</th><td><input type="datetime" name="delete_meeting" value="" placeholder="2015-1-1" required=""/></td></tr>								
		<tr><td><button class="btn btn-primary">Submit</button></td><td></td></tr>
		</form>							
	</table>
</div>
</div>

