<layout name="layout_homepage" />
<script language="javascript">
$(document).ready(function(){
	$("#club").hide();
	$("#type").change(function() {
		var temp = $("#type").val();		
		if(temp=="Union"){	
			$("#club").show();
/*			$.ajax(
				{ 	url: "__APP__/Home/Admin/get_clubs_ajax",
					//async:false,
					dataType: "json",
					success: function(data){
							$("#m_date").val("2014-1-2");
						},
					error: 	function(data){
							$("#m_date").val("2014-1-3");
							//console.log();
							console.log(data); 
							//alert(data);
						}
				}
			);	*/		
			
			
			
			//$.get("__APP__/Home/Admin/get_clubs_ajax",function(data,status){
			//  alert("数据：" + data + "\n状态：" + status);
			//},'json');		
			//alert(temp);
			//$("type").load("__APP__/Home/Admin/get_clubs_ajax");			
			//$.get("__APP__/Home/Admin/get_clubs_ajax",function(data,status){
			//var count=data.length;
			//alert(count);
			//$("#m_date").val("2014-1-1");
			//$("#meeting_type").append("Club:<select class=\"input-xlarge\" name=\"union_club\">");
			//for(var i=0;i<count;i++){
			//	$("#meeting_type").append("<option value="+data[i].Id+">"+data[i].club_name+"</option>");
			//}
			//$("#meeting_type").append("</select>");
		   //});
		}
		else{
			$("#club").hide();
		}
	});
});
</script>
	  
<div class="col-md-2">
<include file="Public:admin_sub_menu" />
</div>
<div class="col-md-10">  
<div id="content">
<h3>Add meeting</h3>
	<table class="table table-striped">	
	<form action="{:U('Admin/add_meeting_deal')}" method="post">
		<tr><th>Meeting Date:</th>
		<td><input type="datetime" id="m_date" name="m_date" value="" placeholder="2015-1-1" required=""/></td></tr>	
		<tr><th>Meeting Style:</th><td id="meeting_type">
			<select class="input-xlarge" name="type" id="type">
			<option>Common</option>
			<option>Union</option>
			<option>Holiday</option>
			<option>Contest</option>
			</select>
			<select class="input-xlarge" name="club" id="club">
					<volist name="clubs" id="vo">
						<option value="{$vo.Id}">{$vo.club_name}</option>
					</volist>
			</select>			
		</td></tr>
		<tr><th>Meeting Language:</th><td>
			<select class="input-xlarge" name="language">
			<option>English</option>
			<option>Chinese</option>
			</select>
		</td></tr>		
		<tr><th>Meeting Room:</th><td><input type="text" name="room" id="room"></td></tr>
		<tr><th>Meeting Time:</th><td><input type="text" name="time" id="time"></td></tr>	
		<tr><th>Note</th><td><input type="text" name="note" id="note"></td></tr>
		<tr><td><button class="btn btn-success">Add Meeting</button></form></td><td></td></tr>						
	</table>
<h3>Delete meeting</h3>
	<table class="table table-striped">	
		<form action="delete_meeting_deal">
		<tr><th>Meeting date:</th><td><input type="datetime" name="delete_meeting" value="" placeholder="2015-1-1" required=""/></td></tr>								
		<tr><td><button class="btn btn-primary">Submit</button></td><td></td></tr>
		</form>							
	</table>
</div>
</div>

