<layout name="layout_homepage" />
<!-- <script language="javascript">
$(document).ready(function(){
	$("#m_id").change(function() { //jquery 中change()函数 
	var temp = $("#m_id").val()
	$.get("__APP__/Home/Admin/get_checkin_ajax",{m_id:temp},function(data){
		alert(data);
		var count=data.length;

   })

});
	
});
</script> -->	  
<div class="col-md-2">
<include file="Public:admin_sub_menu" />
</div>
<div class="col-md-10">  
<div id="content">
<h3>Checkin Info</h3>

<form class="form-horizontal" method="get" action="{:U('show_checkin')}">	
Choose Meeting Date:
	<select name="m_id" id="m_id">
	<option>all</option>
	<volist name="m_dates" id="vo">
		<if condition="$m_id eq $vo['Id']">
			<option value="{$vo.Id}" selected>{$vo.m_date}</option>						
		<else/>
			<option value="{$vo.Id}">{$vo.m_date}</option>
		</if>
	</volist>
	</select>
     <button class="btn btn-primary" id="submit">Query</button>	
</form>
		<h3>Guests Info</h3>
		<table class="table table-striped">	
			<tr><th>Meeting Date</th><th>English Name</th><th>Chinese Name</th><th>Phone</th><th>Email</th><th>Introducer</th><th>Edit</th></tr>
			<volist name="guests" id="vo">
			<tr><td>{$vo.m_date}</td><td>{$vo.chinese_name}</td><td>{$vo.english_name}</td><td>{$vo.phone}</td><td>{$vo.email}</td><td>{$vo.introducer}</td>
			<td><a href="{:U('Admin/delete_guestcheckin',array('guest_id'=>$vo['Id']))}">Delete</td></tr>
			</volist>
		</table>
		<h3>Members Info</h3>
		<table class="table table-striped">	
			<tr><th>Meeting Date</th><th>English Name</th><th>Edit</th></tr>
			<volist name="users" id="vo">
			<tr><td>{$vo.m_date}</td><td>{$vo.english_name}</td><td><a href="{:U('Admin/delete_membercheckin',array('member_id'=>$vo['Id']))}">Delete</td></tr>
			</volist>
		</table>
		

</div>
</div>

