<layout name="layout_blank" />
<script type="text/javascript">  
$(document).ready(function(){

});
</script>

  <div class="container-fluid">
  <div class="row-fluid">
  <form class="form-horizontal" method="get" action="{:U('Question/question_deal')}">	  
		<input type="hidden" name="user_id" value="{$user_id}">	
		<input type="hidden" name="q_id" value="{$data.Id}">			
		<div class="col-md-12">			
          <p>Question:{$data.question}</p>
		  <div class="col-md-12">
		  <input type="radio" name="answer" value="A">A.{$data.answer_a}<br>
		  <input type="radio" name="answer" value="B">B.{$data.answer_b}<br>
		  <input type="radio" name="answer" value="C">C.{$data.answer_c}<br>
		  <input type="radio" name="answer" value="D">D.{$data.answer_d}<br>	  
		  </div>  
		</div>
		<div class="col-md-12">
			<button class="btn btn-primary">Submit</button>
		</div>		
	</form>
	</div>
	</div>


						
						
