<layout name="layout_blank" />
<script type="text/javascript">  
$(document).ready(function(){

});
</script>

  <div class="container-fluid">
  <div class="row-fluid">
  <form class="form-horizontal" method="get" action="{:U('Question/question')}">	  
		<input type="hidden" name="user_id" value="{$user_id}">			
		<div class="col-md-12">			
          <p>My score is:{$my_score.score}</p>
          <p>My ranking level is:{$ranking}</p>		  
		  <div class="col-md-12">
          <p>Score List</p>		  
			<volist name="scores" id="vo">
				{$vo.user_id}:{$vo.score}<br>
			</volist>
		  </div>  
		</div>
		
		<div class="col-md-12">
			<br>
			<button class="btn btn-primary">Next question</button><br><br>
		</div>		
	</form>
	<form class="form-horizontal" method="get" action="{:U('Question/score')}">	
		<input type="hidden" name="user_id" value="{$user_id}">	  
	<div class="col-md-12">
		<button class="btn btn-primary">Update score list</button>
	</div>
  </form>	
	</div>
	</div>


						
						
